{% extends "backend/list_layout.html" %}
{% block layout_header %}{% endblock %}
{% set list = context[scaffolding.plural] %}
{% block layout_before_header %}
<div class="ibox-content m-b-sm border-bottom page-header-big">
    <div class="p-xs">
        <div class="pull-left m-r-md">
            <i class="material-icons mid-icon brand-text-color">dashboard</i>
        </div>
        <h2>模組管理</h2>
        <span>您可以自由啟用或停用您所需的功能。</span>
    </div>
</div>
{% endblock %}

{% block layout_content %}
<div class="wrapper wrapper-content animated fadeInRight">
<div class="ibox-content forum-container row" style="margin-left: 15px; margin-right: 15px;">
    {%- set n = 0 -%}
    {% for item in plugin_list %}
        {%- set n = n + 1 -%}
        <div class="forum-item plugins-item col-xs-12 col-md-6" data-enable="{{ item.enable }}" id="plugin-{{ item.name }}">
        <div class="row" style="min-height: 81px;">
            <div class="col-xs-7">
                <div class="forum-icon hidden-xs">
                    <i class="material-{{ item.icon }}"></i>
                </div>
                <span class="forum-item-title" style="padding-left: 10px;">{{ item.title }}</span>
                <div class="forum-sub-title" style="margin-left: 32px;">
                    模組名稱 : {{ item.name }}<br>
                    功能描述 : {{ item.desc }}</div>
            </div>
            <div class="col-xs-5">
                <div class="pull-right btn-group">
                {% if item.can_enable %}
                <a href="/admin/plugin_manager/set.json?plugin={{ item.name }}&action=enable&uri={{ item.install_uri }}" class="btn-json btn btn-enable" data-callback="enable_plugins">啟用</a>
                <a href="/admin/plugin_manager/set.json?plugin={{ item.name }}&action=disable&uri={{ item.uninstall_uri }}" class="btn-json btn btn-disable" data-callback="disable_plugins">停用</a>
                {% endif %}
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
</div>
{% endblock %}
{% block layout_scripts -%}
<script>
    $(function(){
        $(".plugins-item").each(function(){
            toggle_class($(this), $(this).data("enable")=="True");
        });
    });
    function toggle_class(target, enable){
        if (enable){
            target.find(".btn-enable").addClass("btn-success").removeClass("btn-default");
            target.find(".btn-disable").addClass("btn-default").removeClass("btn-success");
            target.addClass("active");
        }else{
            target.find(".btn-enable").addClass("btn-default").removeClass("btn-success");
            target.find(".btn-disable").addClass("btn-success").removeClass("btn-default");
            target.removeClass("active");
        }
    }
    function enable_plugins(data){
        if (data.info == "done"){
            toggle_class($("#plugin-" + data.plugin), true);
            message.snackbar("已啟用");
        }
        if (data.info == "403"){
            message.snackbar("權限不足");
            location.reload();
        }
    }
    function disable_plugins(data){
        if (data.info == "done"){
            toggle_class($("#plugin-" + data.plugin), false);
            message.snackbar("已停用");
        }
        if (data.info == "403"){
            message.snackbar("權限不足");
            location.reload();
        }
    }
</script>
{% endblock %}
